$text-gray: rgba(255, 255, 255, 0.4);
$background: black;
$active-serch-color: #FDCE25;
$unloaded-tile: rgba(255, 255, 255, 0.24);
body {
  width: 100%;
  height: 100%;
  color: $text-gray;
  font-family: Roboto;
}