$text-gray: rgba(255, 255, 255, 0.4);
$background: black;
$active-serch-color: #FDCE25;
$unloaded-tile: rgba(255, 255, 255, 0.24);
.footer {
  color: $text-gray;
  margin: -20px auto;
  background-color: $background;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  &__text {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}